<p>
  <strong>Dry cleaning:</strong>
  <%= @place.place_service.dry_cleaning %>
</p>

<p>
  <strong>Public transport:</strong>
  <%= @place.place_service.public_transport %>
</p>

<p>
  <strong>Other:</strong>
  <%= @place.place_service.other %>
</p>